extends ../shared/template

block content
  h1.panel= item.name
  .row
    .small-12.columns
      img(src= item.photo).item-img-large
      .item
        h3 Item Description:
          p.inline= item.description
        h3 Tags:
          p.inline= item.tags
  .row
    .small-6.columns
      h5= originalUser.email
    .small-6.columns
      each item in bidItems
        h3= item.name

  .row
    .small-12.columns
      if loggedInUser == originalUser
        form(action='/items/' + item._id, method='post')
          input(type='hidden', name='_method', value='delete', required)
          button.alert.small.radius Remove
  .row
    .small-4.columns
      if loggedInUser !== originalUser
        select#itemSelect
          each thing in userItems
            option(value= thing.name)= thing.name
        button#trade.small.radius Make Bid With This Item
    .small-8.columns
      //each item in item.bids

