extends ../shared/template

block content
  h1.panel= item.name
  img(src= item.photo).item-img-large
  .item
    h3 Item Description:
      p.inline= item.description
    h3 Tags:
      p.inline= item.tags

  .row
    .small-12.columns
      br
      form(action='/items/' + item._id, method='post')
        input(type='hidden', name='_method', value='delete', required)
        button.alert.small.radius Delete

  .row
    .small-6.columns
      h5= originalUser.email
    .small-6.columns
      each item in bidItems
        h3= item.name

  .row
    .small-12.columns
      if loggedInUser !== originalUser
        select
          each thing in userItems
            option= thing.name
      //each item in item.bids

